<!DOCTYPE html>
<html lang="pt">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rest Api website">
    <meta name="author" content="Alip">
    <meta property="og:image" content="https://telegra.ph/file/f492065d44c897cd3836e.png">
    <title>GLEYSON BOTS | apis</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="https://telegra.ph/file/331db4fe20e5d223220de.jpg" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">Rest API</div>
            </a>
            
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                profile
            </div>
            <li class="nav-item active">
             

           <div class="sidebar-heading">
                Features
            </div>
            <br>
            
 <!--PAINEL-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fab fa-fw fa-acquisitions-incorporated"></i>
                    <span>Painel</span>
                </a>
                <div id="collapsePrimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Painel</h6>
            <a class="collapse-item" target="_blank" href="addkey">Adicionar Apikey</a>
            
            <a class="collapse-item" target="_blank" href="delkey">Deletar Apikey</a>
            <a class="collapse-item" target="_blank" href="verificar-key">Verificar Apikey</a>

            </div>
                </div>
            </li>
           
<!--DONWLOADS-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloads</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de download</h6>
                        
                        <a class="collapse-item" href="api/youtube/play?query=silfarley%idiota%eu&apikey=suakey" target="_blank">Play-Audio</a>
                        <a class="collapse-item" href="api/youtube/playv2?query=silfarley%idiota%eu&apikey=suakey" target="_blank">Play-Audio V2</a>
                        <a class="collapse-item" href="api/youtube/playv3?query=silfarley%idiota%eu&apikey=suakey" target="_blank">Play-Audio V3</a>
                        <a class="collapse-item" href="api/youtube/playvideo?query=silfarley%idiota%eu&apikey=suakey" target="_blank">Play-Video</a>
                        <a class="collapse-item" href="api/youtube/playmix?query=silfarley%idiota%eu&apikey=suakey" target="_blank">Play-Mix</a>
                        <a class="collapse-item" href="api/youtube/playmix2?query=silfarley%idiota%eu&apikey=suakey" target="_blank">Play-Mix V2</a>
                        <a class="collapse-item" href="api/youtube/ytmp3query=silfarley%idiota%eu&apikey=suakey" target="_blank">Ytmp3</a>
                        <a class="collapse-item" href="api/youtube/ytmp4query=silfarley%idiota%eu&apikey=suakey" target="_blank">Ytmp4</a>
                        <a class="collapse-item" href="api/download/tiktok?url=sil&apikey=suakey" target="_blank">Tiktok</a>
                        <a class="collapse-item" href="api/download/instamp4?url=sil&apikey=suakey" target="_blank">Inta-mp4</a>
                        <a class="collapse-item" href="404" target="_blank">Inta-mp3 -breve</a>
                        <a class="collapse-item" href="api/download/facebook?url=link&apikey=suakey" target="_blank">Facebook</a>
                        <a class="collapse-item" href="api/download/soundcloud?url=link&apikey=suakey" target="_blank">SoundCloud</a>
                        <a class="collapse-item" href="api/download/mediafire?url=link&apikey=suakey" target="_blank">MediaFire</a>
                       


                    </div>
                </div>
            </li>


<!--PUXADAS-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseserch" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-search"></i>
                        <span>Puxadas</span>
                    </a>
                    <div id="collapseserch" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Recursos de puxadas</h6>
                       
                           <a class="nav-link" href="/api/consultas?type=cpf1&query=03244275222&apikey=SuaApikey">CPF V1 </a>
    <a class="nav-link" href="/api/consultas?type=cpf2&query=03244275222&apikey=SuaApikey">CPF V2</a>
	<a class="nav-link" href="/api/consultas?type=cpf3&query=03244275222&apikey=SuaApikey">CPF V3</a>
	<a class="nav-link" href="/api/consultas?type=cpf4&query=03244275222&apikey=SuaApikey">CPF V4</a>
   <a class="nav-link" href="/api/consultas?type=tel1&query=73999197974&apikey=SuaApikey">TEL V1</a>
   <a class="nav-link" href="/api/consultas?type=tel2&query=73999197974&apikey=SuaApikey">TEL V2</a>
   <a class="nav-link" href="/api/consultas?type=tel3&query=73999197974&apikey=SuaApikey">TEL V3</a>
    <a class="nav-link" href="/api/consultas?type=placa1&query=KMM2551&apikey=SuaApikey">PLACA V1</a>
	<a class="nav-link" href="/api/consultas?type=placa2&query=KMM2551&apikey=SuaApikey">PLACA V2</a>
	<a class="nav-link" href="/api/consultas?type=rg&query=15205495&apikey=SuaApikey">RG V1</a>
   <a class="nav-link" href="/api/consultas?type=parentes&query=03244275222&apikey=SuaApikey">PARENTES V1</a>
   <a class="nav-link" href="/api/consultas?type=beneficios&query=03244275222&apikey=SuaApikey">BENEFICIOS V1</a>
  <a class="nav-link" href="/api/consultas?type=email&query=xanaxapis@gmail.com&apikey=SuaApikey">EMAIL V1</a>
   <a class="nav-link" href="/api/consultas?type=site&query=https://xanax-apis.online&apikey=SuaApikey">SITE V1</a>
   <a class="nav-link" href="/api/consultas?type=cnpj&query=13347016000117&apikey=SuaApikey">CNPJ V1</a>
   <a class="nav-link" href="/api/consultas?type=cep&query=45206775&apikey=SuaApikey">CEP V1</a>
  <a class="nav-link" href="/api/consultas?type=score&query=03244275222&apikey=SuaApikey">SCORE V1</a>
   <a class="nav-link" href="/api/consultas/bin?query=520586&apikey=SuaApikey">BIN V1</a>
                           
                        </div>
                    </div>
                </li>

<!--TEXT PRO-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Text Pro</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de Text pro</h6>
                      
                        <a class="collapse-item" href="api/textpro/pencil?text=Alip&apikey=<%= apikey %>" target="_blank">Pencils</a>

                        <a class="collapse-item" href="api/textpro/strawberry?text=Alip&apikey=<%= apikey %>" target="_blank">Strawberry</a>
                    </div>
                </div>
            </li>

<!--PHOTOOXY-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotooxy" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Photooxy</span>
                </a>
                <div id="collapsePhotooxy" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de Photooxy</h6>
                        <a class="collapse-item" href="api/photooxy/flaming?text=Alip&apikey=<%= apikey %>" target="_blank">Flaming</a>
                        <a class="collapse-item" href="api/photooxy/shadow-sky?text=Alip&apikey=<%= apikey %>" target="_blank">Shadow Sky</a>
                        <a class="collapse-item" href="api/photooxy/metallic?text=Alip&apikey=<%= apikey %>" target="_blank">Metallic</a>
                        <a class="collapse-item" href="api/photooxy/naruto?text=Alip&apikey=<%= apikey %>" target="_blank">Naruto</a>
                        <a class="collapse-item" href="api/photooxy/pubg?text=Pubg&text2=Alip&apikey=<%= apikey %>" target="_blank">PUBG</a>
                        <a class="collapse-item" href="api/photooxy/under-grass?text=Alip&apikey=<%= apikey %>" target="_blank">Under Grass</a>
                        <a class="collapse-item" href="api/photooxy/harry-potter?text=Alip&apikey=<%= apikey %>" target="_blank">Harry Potter</a>
                        <a class="collapse-item" href="api/photooxy/flower-typography?text=Alip&apikey=<%= apikey %>" target="_blank">Flower Typography</a>
                        <a class="collapse-item" href="api/photooxy/picture-of-love?text=Alip&apikey=<%= apikey %>" target="_blank">Picture Of Love</a>
                        <a class="collapse-item" href="api/photooxy/coffee-cup?text=Alip&apikey=<%= apikey %>" target="_blank">Coffee Cup</a>
                        <a class="collapse-item" href="api/photooxy/butterfly?text=Alip&apikey=<%= apikey %>" target="_blank">Butterfly</a>
                        <a class="collapse-item" href="api/photooxy/night-sky?text=Alip&apikey=<%= apikey %>" target="_blank">Night Sky</a>
                        <a class="collapse-item" href="api/photooxy/carved-wood?text=Alip&apikey=<%= apikey %>" target="_blank">Carved Wood</a>
                        <a class="collapse-item" href="api/photooxy/illuminated-metallic?text=Alip&apikey=<%= apikey %>" target="_blank">Illuminated Metallic</a>
                        <a class="collapse-item" href="api/photooxy/sweet-candy?text=Alip&apikey=<%= apikey %>" target="_blank">Sweet Candy</a>
                    </div>
                </div>
            </li>

<!--NSFW-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomText" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-music"></i>
                        <span>Nsfw</span>
                    </a>
                    <div id="collapseRandomText" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Recursos de Hentai</h6>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=id-ID&apikey=<%= apikey %>">Indonesian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=en-US&apikey=<%= apikey %>">English (United States)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ja-JP&apikey=<%= apikey %>">Japanese (Japan)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fr-FR&apikey=<%= apikey %>">French</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fil-PH&apikey=<%= apikey %>">Filipino</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=my&apikey=<%= apikey %>">Burmese (Myanmar)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=de-DE&apikey=<%= apikey %>">German</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=it-IT&apikey=<%= apikey %>">	Italian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=jko-KR&apikey=<%= apikey %>">Korean</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=th-TH&apikey=<%= apikey %>">Thai</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=hi-IN&apikey=<%= apikey %>">Hindi</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ru-RU&apikey=<%= apikey %>">Russian</a>
                        </div>
                    </div>
                </li>

 
<!--ALEATORIOS-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserandomimage" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-random"></i>
                    <span>Aleatorios</span>
                </a>
                <div id="collapserandomimage" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos Aleatórios</h6>
                        <a class="collapse-item" href="api/randomgambar/couplepp?apikey=<%= apikey %>" target="_blank">em teste</a>
                        <a class="collapse-item" href="api/randomgambar/dadu?apikey=<%= apikey %>" target="_blank">Dado</a>
                        <a class="collapse-item" href="api/randomgambar/coffee?apikey=<%= apikey %>" target="_blank">Café</a>
                    </div>
                </div>
            </li>

<!--JOGOS-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsegame" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-gamepad"></i>
                    <span>Jogos</span>
                </a>
                <div id="collapsegame" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de Jogos</h6>
            <a class="collapse-item" target="_blank" href="api/game/tembakgambar?apikey=<%= apikey %>">Tembak Gambar</a>
            <a class="collapse-item" target="_blank" href="api/game/susunkata?apikey=<%= apikey %>">Susun Kata</a>
            <a class="collapse-item" target="_blank" href="api/game/tembakbendera?apikey=<%= apikey %>">Tembak Bendera</a>
            <a class="collapse-item" target="_blank" href="api/game/tembakgame?apikey=<%= apikey %>">Tembak Game</a>
            <a class="collapse-item" target="_blank" href="api/game/tembakkata?apikey=<%= apikey %>">Tembak Kata</a>
            <a class="collapse-item" target="_blank" href="api/game/tembaklirik?apikey=<%= apikey %>">Tembak Lirik</a>
            <a class="collapse-item" target="_blank" href="api/game/tembaklagu?apikey=<%= apikey %>">Tembak Lagu</a>
            <a class="collapse-item" target="_blank" href="api/game/tembakkimia?apikey=<%= apikey %>">Tembak Kimia</a>
            </div>
                </div>
            </li>

<!--EDITOR-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-paint-brush"></i>
                    <span>Editor</span>
                </a>
                <div id="collapseMaker" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de edição</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/circle?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Circle</a>
                        <a class="collapse-item" target="_blank" href="api/maker/beautiful?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Beautiful</a>
                        <a class="collapse-item" target="_blank" href="api/maker/blur?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Blur</a>
                        <a class="collapse-item" target="_blank" href="api/maker/darkness?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&no=50&apikey=<%= apikey %>">Darkness</a>
                        <a class="collapse-item" target="_blank" href="api/maker/facepalm?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Facepalm</a>
                        <a class="collapse-item" target="_blank" href="api/maker/invert?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Invert</a>
                        <a class="collapse-item" target="_blank" href="api/maker/pixelate?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&no=10&apikey=<%= apikey %>">Pixelate</a>
                        <a class="collapse-item" target="_blank" href="api/maker/rainbow?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Rainbow</a>
                        <a class="collapse-item" target="_blank" href="api/maker/resize?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&width=100&height=100&apikey=<%= apikey %>">Resize</a>
                        <a class="collapse-item" target="_blank" href="api/maker/trigger?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Trigger</a>
                        <a class="collapse-item" target="_blank" href="api/maker/wanted?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=<%= apikey %>">Wanted</a>
                        <h6 class="collapse-header">Maker Other</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/attp?text=Alip&apikey=<%= apikey %>">ATTP</a>
                        <a class="collapse-item" target="_blank" href="api/maker/ttp?text=Alip&apikey=<%= apikey %>">TTP</a>
                        <a class="collapse-item" target="_blank" href="api/maker/emojimix?emoji1=😏&emoji2=😈&apikey=<%= apikey %>">Emojimix</a>
                        <a class="collapse-item" target="_blank" href="api/maker/welcome1?name=Gleyson&gpname=GleysonBots&member=1&pp=https://i.ibb.co/2yyGztk/Picsart-23-05-16-22-51-08-229.jpg&apikey=<%= apikey %>">Bem vindo</a>
                        <a class="collapse-item" target="_blank" href="api/maker/goodbye1?name=Gleyson&gpname=Gleysonbots&member=1&pp=https://telegra.ph/file/331db4fe20e5d223220de.jpg&bg=https://i.ibb.co/2yyGztk/Picsart-23-05-16-22-51-08-229.jpg&apikey=<%= apikey %>">Tchau</a>
            </div>
                </div>
            </li>

<!--EDITOR DE LINKS -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselink" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-link"></i>
                    <span>Editor de links</span>
                </a>     
                <div id="collapselink" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de links</h6>
                        <a class="collapse-item" target="_blank" href="api/linkshort/tinyurl?link=https://alpis.eu.org/&apikey=<%= apikey %>">Tinyurl</a>
                        
                        <a class="collapse-item" target="_blank" href="api/linkshort/cuttly?link=https://api-alpis.onrender.com&apikey=<%= apikey %>">Cuttly</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/bitly?link=https://alpis.eu.org/&apikey=<%= apikey %>">Bitly</a>

                    </div>
                </div>
            </li>

<!--FERRAMENTAS-->            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>Ferramentas</span>
                </a>
                <div id="collapseTools" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de ferramentas</h6>
            <a class="collapse-item" target="_blank" href="api/tools/ebase64?text=Rest%20Api%20By%20Alip&apikey=<%= apikey %>">Ebase</a>
            <a class="collapse-item" target="_blank" href="api/tools/debase64?text=UmVzdCBBcGkgQnkgQWxpcA==&apikey=<%= apikey %>">Debase</a>
            <a class="collapse-item" target="_blank" href="api/tools/ebinary?text=RestApiByAlip&apikey=<%= apikey %>">Ebinary</a>
            <a class="collapse-item" target="_blank" href="api/tools/debinary?text=01010010%2001100101%2001110011%2001110100%2001000001%2001110000%2001101001%2001000010%2001111001%2001000001%2001101100%2001101001%2001110000&apikey=<%= apikey %>">Debinary</a>
            <a class="collapse-item" target="_blank" href="api/tools/ssweb?link=https://alpis.eu.org/&apikey=<%= apikey %>">SSWEB</a>
            <a class="collapse-item" target="_blank" href="api/tools/styletext?text=Alip&apikey=<%= apikey %>">Styletext</a>


            </div>
                </div>
            </li>

<!--LOLIS-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fab fa-fw fa-acquisitions-incorporated"></i>
                    <span>Loli</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Recursos de lolis</h6>
                        <a class="collapse-item" target="_blank" href="api/islamic/surah?no=1&apikey=<%= apikey %>">Em teste</a>                  
                        <a class="collapse-item" target="_blank" href="api/islamic/tafsirsurah?text=adam&apikey=<%= apikey %>">Em teste</a>                  

                      </div>
                </div>

                <div class="sidebar-heading">
                    Contact
                </div>
                <br>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/AlipBot">
                        <i class="fab fa-fw fa-github"></i>
                        <span>Github</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://instagram.com/GLEYSON_BOTS">
                        <i class="fab fa-fw fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>

                </li>

        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/">
                                <i class="fa-solid fa-right-from-bracket" > </i> 
                                <span class="text-sm-left mb-0 font-weight-bold">Sair</span>
                                
                            </a>
                        </li>
                    </ul>
                </nav>



                      
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong> Bem Vindo a Gleyson Apis</strong>

                          </div>
                         

                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-md-left font-weight-bold mb-2 text-primary">GLEYSON BOTS | API </div>
                                        <div class="text-sm-left mb-0 font-weight-bold">OLA MEU CARO SEJA MUITO BEM VINDO A REST API GLEYSON APIS</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-quote-right fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row mb-3"> 

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Visitantes</div>
                                        <div class="h5 mb-0 font-weight-bold" id="visitor">589</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-eye fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  
                   
              <!--      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50"> -->
                           <!-- <div class="card-body"> 
                                <div class="row no-gutters align-items-center">
                                   
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Bateria</div>
                                        <span id="battery_level" class="h5 mb-0 font-weight-bold">Carregando... </span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Hora</div>
                                        <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">00:00:00</div>

                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-calendar fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="findipurl"> <a href="find-ip.net" ></a></div>

            <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23181818&border=%23181818&textcol=%23d3d5f3&language=0&system=0&"></script>


                <div class="Box mt-4">
                    <div class="Box-body p-4">
                      <div class="d-flex flex-justify-between">
                        <div class="text-mono text-small mb-3">
                        </div>
                      </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Contato
                            <p>
                                <a href="https://wa.me/5511981989509" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;Whatsapp</a>
                                <a href="https://instagram.com/GLEYSON_BOTS" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        © Copyright <i class="fa fa-heart"></i> by
                        <a href="https://github.com/AlipBot" target="_blank" style="color: rgb(255, 234, 0);">GLEYSON BOTS</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    

</body>

</html>